@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;500;700;900&display=swap'); 

.delivery-container{
    width: inherit !important;
    padding-left: 3rem;
}

.shadow{
    box-shadow: 0px 20px 60px 0px rgba(86, 89, 146, 0.10);
}

.divider{
    border: 1px solid #A2A3B1 !important;
    justify-content: center;
}

.sidenav---sidenav---_2tBP .sidenav---collapsed---LQDEv{
    width: 10px !important;
}

.Cabin-text{
    font-family: 'Cabin' !important;
}
