input{
    border-radius: 5px;
    border-color: darkgray;
    height: 80%;
}
.btn-profile{
    background-color: #035C94;
    border-radius: 5px;
    /* width: 100%; */
    
}
img{

    box-sizing: border-box;
    border-radius: 20px;
}
.text{
    color:black;
    font-weight: 400;
}