@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jost');

.banner-login{
    max-height: 48em;
    height: 48em;
    /* background-color: black; */
    border-radius: 0 0 10em 0;
    padding: 0%;
}
.login-carousel, .carousel-img{
    border-radius: 0 0 10em 0;
    height: 48em;
}
.carousel-img img {
    height: 100%;
    border-radius: 0 0 10em 0;
    object-fit: cover;
  }
  
.content-login{
    height: 44em;
    font-family: 'Jost', DM-serif-display;
}
.w-98 {
    width: 98%;
}
.w-92{
    width: 92%;
}
.w-42{
    width: 42%;
}
.fw-400{
    font-weight: 400;
}
.fw-600{
    font-weight: 600;
}
.google-icon {
    width: 20px; 
    height: 20px; 
  }
.facebook-icon {
  width: 20px; 
  height: 20px; 
}
.btnstyle{
    background-color: #FFFFFF ;
    color: #2F2F2F ;
    box-shadow: 0px 20px 60px 0px rgba(86, 89, 146, 0.10);
}
.heading-txt{
    margin-left: 4rem;
    color: #023047
}