    .card-1{
        border: none;
        color: white;
        background-color:#096C86;
        height: 20px;
    }
    .card-2{
        border: none;
        color: white;
        background-color:#035C94;
        height: 20px;
    }
    .card-3{
        border: none;
        color: #035C94;
        background-color: #FFC00C;
        height: 20px;
    }
    .card-4{
        border: none;
        color: #035C94;
        background-color:#FFC00C;
        height: 20px;
    }