.User {
width: 48px;
height: 32px;
font: 700 24px/32px 'Cabin';
color: #17183B;
}
.auto{
display: flex;
justify-content: center;
width: 294px;
height: 40px;
position:absolute;
padding-left:20% ;
top: 18%;
}
.icon{
    position: absolute;
    padding-left:25% ;
    color: #A2A3B1;
}
.All
{
   
width: 48px;
height: 32px;
font: 700 24px/32px 'Cabin';
color:#A2A3B1; 
position: absolute;
padding-left: 35%;
}

.line-1{
width: 1000px;
height: 1.27px;
background: #035C94;
}
.tabs{
position: absolute;
width: 16px;
height: 17px;
left: 20%;
top: 150px;
}

.buttonset {
    display: flex; 
    line-height: 10px;
    font-size: 14px;
    
}

.buttonset > button {
    /* Remove display: flex and font-family: medium; from here */
    color: #035C94;
    border-bottom: 2px; /* Add the border style as solid */
    border-radius: 0;
  }

 
  .buttonset button:hover {
    border: none;
    border-bottom: 2px solid  #035C94;
    
  } 

  .table-header {
    position: absolute;
    width: 1000px;
    height: 50px;
    left: 20%;
    top: 250px;
    background: #F2FAFF;
    border-bottom:1px solid #035C94;
    border-top: 1px solid #035C94 ;

    display: flex;
    font-family: 'Cabin', sans-serif;
  letter-spacing: 0.05em;
   text-transform: uppercase;
   font-weight: 700;
    font-size: 12px;
    color: #023047;
    
  }
  .head{
    width: 1000px;
    text-align: center;


  }
  .bar{
    position: absolute;
    display: flex;
    width: 16px;
    height: 17px;
    left: 20%;
    top: 200px;
   
  }

  /* .table-separator-top {
    position: absolute;
    width: 1453.01px;
    height: 1.27px;
    left: 354px;
    top: 354.7px;
    background: rgba(3, 92, 148, 0.24);
  } */
  /* .table-separator-bottom {
    position: absolute;
    width: 1453.01px;
    height: 1.27px;
    left: 354px;
    top: 413.3px;
    background: rgba(3, 92, 148, 0.24);
  } */