.background{
    background-color: #F1F1F1;
    min-height: 86.5vh;
    /* height: 100%; */
}
.h-40{
    height: 40%;
}

.w-40{
    width: 40%;
}
.slide{
    height: unset;
    width: 100%;
}
.carousel-control-prev, .carousel-control-next,.carousel-indicators  {
    display: none;
}
.breadcrumb a{
    color: #000 !important;
}
.shadow{
    box-shadow: 0px 16px 60px 0px rgba(86, 89, 146, 0.10);
}
.custom-breadcrumb-divider::before {
    content: none !important;
}

.w-98,.top-div {
    width: 98%;
}
.see-all{
    color: #035C94 !important;; 
}
.three-box{
    background-color: #035C94 !important;
    height: 3rem;
}
.f-color-grey{
    color: #575757;
}
.f-color-f1{
    color: #F1F1F1;
}
.f-color-y{
    color: #FFC00C;
}
.custom-btn {
    text-decoration: none; 
}
