#root {
    background-color: #f1f1f1 !important;  
}
.background-grey{
    margin-right: 2rem;
    /* margin-bottom: 2rem; */
    width:inherit;
    min-height: 84vh;
    font-family: 'Cabin' !important;    

}
/* .slide{
    width: 100% ;
    height:max-content ;
    object-fit:cover ;
    border-radius: 20px;
} */

.height-200{
    height: 200px ;
}
.width-30{
    width: 30% !important;
}
.f-color-summary{
    color: #023047;
}
.btn-color{
    background-color: #035C94;
    color: #f1f1f1;
}
.h-80{
    min-height: 85vh;
}

.carousel-height{
    max-height: 200px;
    min-height: 200px;
}

@media only screen and (max-width: 630px) {
.max-width {
    /* max-width:min-content; */
        max-width: 550px;
}

}